*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: auto;
}
main {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.left {
  background-color: #1b1a1f;
  flex: 1;
}

.right {
  background-color: #ffd782;
  flex: 2;
}

.container {
  height: 80%;
  width: 90%;
  background-color: #1b1a1f;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  box-shadow: -5px 5px 10px #141417;
  border-radius: 5px;
  
  display: grid;
  place-items: center;
}
h1{
    color: transparent;
  -webkit-text-stroke: 2px #ffd782;
  font-size: 20rem;
}